{% extends 'base.html' %}
{% block title %}FlixCareers | Subscribe{% endblock title %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <form method="post" class="email-form">
            {% csrf_token %}
            {{form.as_div}}

            

            {% comment %} <p>
                <label for="id_first_name">Enter First Name:</label>
                <input type="text" name="first_name" maxlength="100" required id="id_first_name">
            </p>
            <p>
                <label for="id_last_name">Enter Last Name:</label>
                <input type="text" name="last_name" maxlength="100" required id="id_last_name">
            </p>
            <p>
                <label for="id_email">Enter Email:</label>
                <input type="email" name="email" maxlength="100" required id="id_email">
            </p>
            <p>
                <label for="id_option">Option:</label>
                <select name="option" id="id_option">
                    <option value="W">Weekly</option>
                    <option value="M" selected>Monthly</option>
                </select>
            </p> {% endcomment %}
            <button class="email-submit">Submit</button> 
    </div>
{#    </div>#}
</section>
{% endblock content %}


{% comment %} <h1><img src="{% static 'subscribe/mail.svg' %}" alt=""/>Subscribe Form</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_div }}
      <input onclick="popup()" type="submit" value="Submit" />

      <script src="{% static 'subscribe/main.js' %}"></script> {% endcomment %}
{% comment %} {% csrf_token %} {% if email_error_empty %}
      <p>{{ email_error_empty }}</p>
      {% endif %}
      <label for="f_name">First Name</label>
      <input
        type="text"
        id="f_name"
        name="firstname"
        placeholder="Your First Name"
      />
      <br />
      <label for="l_name">Last Name</label>
      <input
        type="text"
        id="l_name"
        name="lastname"
        placeholder="Your last Name"
      />
      <br />
      <label for="email">Email</label>
      <input type="Email" id="email" name="email" placeholder="Your Email" />

      <br />

      <input type="submit" value="Submit" />
      {% endcomment %}

