aiohttp==3.8.1
aiosignal==1.2.0
api==0.0.7
apturl==0.5.2
argcomplete==2.0.0
asgiref==3.5.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
backports.zoneinfo==0.2.1
base58==2.1.1
bcrypt==3.1.7
bitarray==2.6.0
black==22.6.0
blinker==1.4
Brlapi==0.7.0
cachetools==4.0.0
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.1.0
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
click==8.1.3
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
cytoolz==0.12.0
dataclassy==0.11.1
dbus-python==1.2.16
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.1.1
django-ckeditor==6.5.1
django-debug-toolbar==3.6.0
django-environ==0.9.0
django-js-asset==2.0.0
duplicity==0.8.12.0
eip712==0.1.0
entrypoints==0.3
eth-abi==2.2.0
eth-account==0.5.9
eth-brownie==1.19.1
eth-event==1.2.3
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
execnet==1.9.0
fasteners==0.14.1
Flask==2.1.2
frozenlist==1.3.1
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
hexbytes==0.2.2
httplib2==0.14.0
hypothesis==6.27.3
idna==3.3
img==2.5
importlib-metadata==4.11.4
inflection==0.5.0
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==3.2.0
kazam==1.4.5
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.7.1
lockfile==0.12.2
louis==3.12.0
lru-dict==1.1.8
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.1.1
monotonic==1.5
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
mysqlclient==2.1.1
mythx-models==1.9.1
netaddr==0.8.0
netifaces==0.10.4
nose==1.3.7
numpy==1.17.4
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
packaging==21.3
paramiko==2.6.0
parsimonious==0.8.1
pathspec==0.9.0
pexpect==4.6.0
Pillow==7.0.0
pipx==1.1.0
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
py==1.11.0
py-solc-ast==1.2.9
py-solc-x==1.1.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycryptodome==3.15.0
pycups==1.9.73
PyDrive==1.3.1
pygame==2.1.2
Pygments==2.12.0
pygments-lexer-solidity==0.7.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==6.2.5
pytest-forked==1.4.0
pytest-xdist==1.34.0
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.16.0
pythx==1.6.1
pytz==2019.3
pyxdg==0.26
PyYAML==5.4.1
reportlab==3.5.34
requests==2.28.1
requests-unixsocket==0.2.0
rlp==2.0.1
rsa==4.0
SecretStorage==2.3.1
semantic-version==2.8.5
simplejson==3.16.0
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==1.3.12
sqlparse==0.4.2
systemd-python==234
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tqdm==4.64.0
ttystatus==0.38
typing-extensions==4.3.0
ubuntu-advantage-tools==27.10
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.26.11
usb-creator==0.3.7
userpath==1.8.0
varint==1.0.2
vvm==0.1.0
vyper==0.3.6
wadllib==1.3.3
wcwidth==0.2.5
web3==5.30.0
websockets==9.1
Werkzeug==2.1.2
wrapt==1.14.1
xkit==0.0.0
yarl==1.8.1
zipp==3.8.0
