<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{form.as_p}}

      <button type="submit">Submit</button>
      <a href='{{ saved_object.file.url }}'> <h2>Upload files Successfully: {{ saved_object.file.url}}</h2> </a>
      <h2>Upload description Successfully: {{ saved_object.description}}</h2>
      <a href='{{ saved_object.file.url }}' >files</a>

    </form>
  </body>
</html>
