<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Job's Website{% endblock title %}Job's Website
    </title>
  </head>
  <body>
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'app/style.css' %}" />
        <link
          href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet"
        />
        <title>Job listing</title>
      </head>
      <body>
        <header>
          <nav>
            <div class="container">
              <div class="logo">
                <img src="{% static 'app/logo.svg' %}" alt="" />
              </div>
              <div class="links">
                <a href="{% url 'jobs_home' %}" onclick="menu()">Home</a>
              </div>
              <span class="material-icons menu" onclick="menu()"> menu </span>
            </div>
          </nav>
        </header>
        {% block content %}{% endblock content %}
        <script src="{% static 'app/app.js' %}"></script>
      </body>
    </html>
  </body>
</html>
